__pycache__/
Seen_and_Unseen/obsolet/
Seen_and_Unseen/tests/
Seen_and_Unseen/SAU.pdf
Seen_and_Unseen/SER.pdf
Seen_and_Unseen/__pycache__/
Seen_and_Unseen/.ipynb_checkpoints
Seen_and_Unseen/utilitaires/__pycache__
Seen_and_Unseen/logs
Seen_and_Unseen/test.py
Seen_and_Unseen/.vscode/launch.json
